In [8]:
import requests
import pandas as pd 
from yahoo_fin import stock_info as si 
from pandas_datareader import DataReader
import numpy as np

#tickers = si.tickers_sp500()
tickers = ['IDT','AMD','CBD','CRK','NXGN']
recommendations = []

for ticker in tickers:
    lhs_url = 'https://query2.finance.yahoo.com/v10/finance/quoteSummary/'
    rhs_url = '?formatted=true&crumb=swg7qs5y9UP&lang=en-US&region=US&' \
              'modules=upgradeDowngradeHistory,recommendationTrend,' \
              'financialData,earningsHistory,earningsTrend,industryTrend&' \
              'corsDomain=finance.yahoo.com'
              
    url =  lhs_url + ticker + rhs_url
    r = requests.get(url)
    if not r.ok:
        recommendation = 6
    try:
        result = r.json()['quoteSummary']['result'][0]
        recommendation =result['financialData']['recommendationMean']['fmt']
    except:
        recommendation = 6
    
    recommendations.append(recommendation)
    
    print("--------------------------------------------")
    print ("{} has an average recommendation of: ".format(ticker), recommendation)
    #time.sleep(0.5)
    
data = pd.DataFrame(list(zip(tickers, recommendations)), columns =['Company', 'Recommendations']) 
#data = dataframe.set_index('Company')
#dataframe.to_csv('recommendations.csv')

data

--------------------------------------------
IDT has an average recommendation of:  6
--------------------------------------------
AMD has an average recommendation of:  2.40
--------------------------------------------
CBD has an average recommendation of:  1.50
--------------------------------------------
CRK has an average recommendation of:  2.20
--------------------------------------------
NXGN has an average recommendation of:  2.80

  Company Recommendations
0     IDT               6
1     AMD            2.40
2     CBD            1.50
3     CRK            2.20
4    NXGN            2.80